.navbar-brand {
          font-family: 'Open Sans', sans-serif;
          color: black !important;
          font-size: 18px;
          font-weight: 700;
}

.navbar {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
}

.content{
      position: relative;
      padding-top: 36%;
      z-index: 3;

      font-family: 'Merriweather', sans-serif;
      font-size: 14px;
      font-weight: 400;
}

#splash {
      font-family: 'Merriweather', sans-serif;
      font-size: 24px;
      line-height: 48px;
      font-weight: 400;
}