.navbar-brand {
          font-family: 'Open Sans', sans-serif;
          color: black !important;
          font-size: 20px;
          font-weight: 700;
          margin-top: 10px;
}

.navbar {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
}

.dropdown {
      margin-top: 10px;
}

.content{
      position: relative;
      padding-top: 36%;
      z-index: 3;

      font-family: 'Merriweather', sans-serif;
      font-size: 14px;
      font-weight: 400;
}

#splash {
      font-family: 'Merriweather', sans-serif;
      font-size: 22px !important;
      line-height: 48px !important;
      font-weight: 300;
      text-align: left;
}