.svg-content-responsive {
        display: inline-block;
        position: fixed;
        top: 10px;
        left: 0;
        width: 100%;
        z-index: 2;
    }


.content{
      position: relative;
      padding-top: 38%;
      z-index: 3;
}

footer {
  z-index: 3;
  width: 100%;
}

h4 {
  text-align: center;
}


.navbar-brand {
          font-family: 'Open Sans Condensed', sans-serif;
          color: black !important;
          font-size: 18px;
          font-weight: 700;
      }

  .stroke {
        fill: none;
        stroke: #888;
        stroke-width: 2px;
      }

      .fill {
        fill: #fff;
      }

      .graticule {
        fill: none;
        stroke: #777;
        stroke-width: .5px;
        stroke-opacity: .5;
      }

      .land {
        fill: #222;
      }

      .boundary {
        fill: none;
        stroke: #fff;
        stroke-width: .5px;
      }
      .country {
          fill: steelblue;
          stroke: white;
      }

