<footer class="footer">
    <div class="container">
    <style>
        h4 {
            text-align: center;
        }
    </style>
    <hr>
        <div class="row">
        <div class="col-md-4"><h4><small><a href="#">WHO WE ARE</a></small></h4></div>
        <div class="col-md-4"><h4><small><a href="#">GET INVOLVED</a></small></h4></div>
        <div class="col-md-4"><h4><small><a href="#">RESOURCES</a></small></h4></div>
        </div>
        <!--
        <p class="text-muted pull-right">WNYHRC 2014</p>
        -->
    </div>
</footer>
